*{
    margin: 0;
    padding: 0;
    font-family:'Source Sans Pro', sans-serif    
}
html{
    overflow-x: hidden;
}


// HEADER
.site_header{
    background-color: #000000;
    width: 100%;

    .logo_header {
        display: flex;
        height: 50%;
    }
    .item_header{
        color: white;
        margin-right: 20px;
        font-size: 140%;
    }
    .menu_header .option_header:hover .item_header{
        background-color: rgba(12, 206, 5, 0.904);
        border-radius: 5px;
        color: black;
    }
    .navbar-toggler{
        background-color: rgb(2 90 2);
        border-color: rgb(2 90 2);
    }
}


//MAIN
.container_main{
    .tittle_main{
        font-size: 50px;
        text-align: center;
        color: rgba(255, 255, 255, 0.904);
    }
    .info_main{
        .general_main{
            display: none;
        }
        .contacto{
            margin-top: 30px;
            width: 100%;
            padding: 20px;
            border-radius: 5px;
            border: 5px solid rgba(12, 206, 5, 0.904);
            h2{
                font-size: 45px;
                text-align: center;
                margin-bottom: 20px;
            }
            .info_contactar{
                display: flex;
                width: 100%;
                padding: 10px;
                border-radius: 5px;
                margin-bottom: 10px;
                border: 3px solid rgba(12, 206, 5, 0.904);
            }
            .consulta_info{
                display: flex;
                width: 100%;
                padding: 40px;
                border-radius: 5px;
                margin-bottom: 10px;
                border: 3px solid rgba(12, 206, 5, 0.904);
            }
            p{
                color: rgba(255, 255, 255, 0.904);
                .admiracion_h1{
                    color: rgba(12, 206, 5, 0.904)
                }
            }
            .button_contactar{
                display: flex;
                width: auto;
                background-color: rgba(255, 255, 255, 0.904);
                border: 2px solid rgba(12, 206, 5, 0.904);
                border-radius: 20px;
                padding: 10px;                
            }
            .button_contactar:hover{
                background-color: rgba(12, 206, 5, 0.904);
                border: 2px solid rgba(12, 206, 5, 0.904);
            }
            width: fit-content;
        }
    }
}




// FOOTER
.footer_site{
    background-color: #000000;
    width: 100%;

    .logo_header {
        display: flex;
        height: 50%;
    }
    .item_footer{
        color: white;
        margin-right: 20px;
        font-size: 140%;
    }
    .menu_footer .option_footer:hover .item_footer{
        background-color: rgba(12, 206, 5, 0.904);
        border-radius: 5px;
        color: black;
    }
    .navbar-toggler{
        background-color: rgb(2 90 2);
        border-color: rgb(2 90 2);
    }
}




//////////////////////////////////////////////////
//////////////////////////////////////////////////
@media (min-width: 768px){
//MAIN
    .container_main{
        .tittle_main{
            font-size: 60px;
            text-align: center;
            margin-top: 30px;
            color: rgba(255, 255, 255, 0.904);
        }
        .info_main{
            .general_main{
                display: block;
                width: 100vw;
                max-width: 1000px;
                min-width: 320px;
                margin-right: 25px;
                margin-top: 25px;
                img{
                    display: flex;
                    width: 100%;
                    border-radius: 20px;
                    box-shadow: 0px 5px 8px rgba(93, 92, 92, 0.904);
                }
            }
            width: fit-content;
            
            .info_container{
                display: flex;
                .contacto{
                    margin-right: 40px;
                    margin-top: 30px;
                    width: 100%;
                    padding: 20px;
                    border-radius: 5px;
                    border: 5px solid rgba(12, 206, 5, 0.904);
                    .tittle_formu{
                        display: flex;
                        font-size: 45px;
                        text-align: center;
                        margin-bottom: 20px;
                    }
                    .form_form{
                        margin-right: 20px;
                        width: fit-content;
                        .info_contactar{
                            width: 100%;
                            padding: 10px;
                            border-radius: 5px;
                            margin-bottom: 10px;
                            border: 3px solid rgba(12, 206, 5, 0.904);
                        }
                        .consulta_info{
                            width: 100%;
                            padding: 40px;
                            border-radius: 5px;
                            margin-bottom: 10px;
                            border: 3px solid rgba(12, 206, 5, 0.904);
                        }
                        p{
                            color: rgba(255, 255, 255, 0.904);
                            .admiracion_h1{
                                color: rgba(12, 206, 5, 0.904)
                            }
                        }
                        .button_contactar{
                            width: 20%;
                            background-color: rgba(255, 255, 255, 0.904);
                            border: 2px solid rgba(12, 206, 5, 0.904);
                            border-radius: 20px;
                            padding: 20px;                
                        }
                        .button_contactar:hover{
                            background-color: rgba(12, 206, 5, 0.904);
                            border: 2px solid rgba(12, 206, 5, 0.904);
                        }
                    }
                    
                }
            }
            display: flex;
        }
    }
}